.notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // &__section {
    //     width: 250px;
    //     @media only screen and (min-width: 430px) {
    //         width: 350px;
    //     }
    //     @media only screen and (min-width: 550px) {
    //         width: 500px;
    //     }
    // }
}

.notesItem {
    display: flex;
    &__alert{
        width: 250px;
            @media only screen and (min-width: 430px) {
                width: 350px;
            }
            @media only screen and (min-width: 550px) {
                width: 500px;
            }
    }
}